.palegrey-bg {
    background-color: #e5e5e5;
}

.semiblack-bg {
    background-color: #1c2434;
}

.cyan-bg {
	background-color: #0cacec;
}

.form-width {
    width: 33%;
}

.info-width {
    width: 75%;
}

.m-logo-width {
    width: 40%;
}

.s-logo-width {
    width: 20%;
}