.palegrey-bg {
    background-color: #e5e5e5;
}

.semiblack-bg {
    background-color: #1c2434;
}

.cyan-bg {
	background-color: #0cacec;
}

.form-width {
    width: 33%;
}

.logo-width {
    width: 40%;
}